<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name ="WCFServiceTest.DTEService" behaviorConfiguration ="mexBahavior">
				<endpoint address="HelloService" binding="basicHttpBinding" contract="WCFServiceTest.IDTEService">
				</endpoint>
				<endpoint address="CustomerData" binding="basicHttpBinding" contract="WCFServiceTest.IDTEService">
				</endpoint>
				<!--<endpoint address="UpdateCustomerData" binding="webHttpBinding" contract="WCFServiceTest.IDTEService" behaviorConfiguration="web">
				</endpoint>-->
				<endpoint address="UpdateCustomerData" binding="basicHttpBinding" contract="WCFServiceTest.IDTEService">
				</endpoint>
				<!--<endpoint address="LoginAuthorization" binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" contract="WCFServiceTest.IDTEService">
				</endpoint>-->
				<endpoint address="mex" binding ="mexHttpBinding" contract="IMetadataExchange">
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080"/>
					</baseAddresses>
				</host>
			</service>	
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name ="mexBahavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<!--For security section-->
				<!--<behavior>
					<serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="WCFServiceTest.JwtTokenValidator, WCFServiceTest">
					</serviceAuthorization>
					<serviceCredentials>
						<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WCFServiceTest.CustomUserNamePasswordValidator, WCFServiceTest" />
					</serviceCredentials>
				</behavior>-->
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
		<!--For security section-->
		<!--<bindings>
			<basicHttpBinding>
				<binding name="secureHttpBinding">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>-->
	</system.serviceModel>
	<connectionStrings>
		<add name="EasyTestConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=WebServicePrototypeEasyTest" />
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=WebServicePrototype" />
	</connectionStrings>

</configuration>