<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2"/>
	</system.web>

	<!--http-->
	<!--<system.serviceModel>
		<services>
			<service name ="WCFServiceTest.DTEService" behaviorConfiguration ="mexBahavior">
				<endpoint address="HelloService" binding="basicHttpBinding" contract="WCFServiceTest.IDTEService">
				</endpoint>
				<endpoint address="GetCustomer" binding="basicHttpBinding" contract="WCFServiceTest.IDTEService">
				</endpoint>
				<endpoint address="UpdateCustomer" binding="basicHttpBinding" contract="WCFServiceTest.IDTEService">
				</endpoint>
				<endpoint address="GetToken" binding="basicHttpBinding" contract="WCFServiceTest.IDTEService">
				</endpoint>
				<endpoint address="mex" binding ="mexHttpBinding" contract="IMetadataExchange">
				</endpoint>
				--><!--<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080"/>
					</baseAddresses>
				</host>--><!--
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name ="mexBahavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
	</system.serviceModel>-->


	<!--https-->
	<system.serviceModel>
		<services>
			<service name ="WCFServiceTest.DTEService"> <!--behaviorConfiguration ="mexBahavior"--> 
				<!--<endpoint address="HelloService" binding="webHttpBinding" contract="WCFServiceTest.IDTEService" bindingConfiguration="securewebHttpBinding" behaviorConfiguration="web">
				</endpoint>
				<endpoint address="GetCustomer" binding="webHttpBinding" contract="WCFServiceTest.IDTEService" bindingConfiguration="securewebHttpBinding" behaviorConfiguration="web">
				</endpoint>
				<endpoint address="UpdateCustomer" binding="webHttpBinding" contract="WCFServiceTest.IDTEService" bindingConfiguration="securewebHttpBinding" behaviorConfiguration="web">
				</endpoint>
				<endpoint address="GetToken" binding="webHttpBinding" contract="WCFServiceTest.IDTEService" bindingConfiguration="securewebHttpBinding" behaviorConfiguration="web">
				</endpoint>-->
				<!--<endpoint address="mex" binding ="mexHttpBinding" contract="IMetadataExchange">
				</endpoint>-->
				<!--<host>
					<baseAddresses>
						<add baseAddress="https://localhost:8443"/>
					</baseAddresses>
				</host>-->
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<!--<behavior name ="mexBahavior">
					--><!--<serviceMetadata httpGetEnabled="true"/>--><!--
					<serviceMetadata httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true" />
					--><!--It was in a different behavior--><!--
					--><!--For security section--><!--
					--><!--<serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="WCFServiceTest.JwtTokenValidator, WCFServiceTest">
					</serviceAuthorization>
					<serviceCredentials>
						<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WCFServiceTest.CustomUserNamePasswordValidator, WCFServiceTest" />
					</serviceCredentials>--><!--
				</behavior>-->
				<!--For security section-->
				<!--<behavior name ="AuthorizationBehavior">
					<serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="WCFServiceTest.JwtTokenValidator, WCFServiceTest">
					</serviceAuthorization>
					<serviceCredentials>
						<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WCFServiceTest.CustomUserNamePasswordValidator, WCFServiceTest" />
					</serviceCredentials>
				</behavior>-->

			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" >
			<!--<baseAddressPrefixFilters>
				<add prefix="https://localhost:8443/" />
			</baseAddressPrefixFilters>-->
		</serviceHostingEnvironment>
		<!--For security section-->
		<bindings>
			<webHttpBinding>
				<binding name="securewebHttpBinding">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</webHttpBinding>
		</bindings>

	</system.serviceModel>



	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--<modules runAllManagedModulesForAllRequests="false"/>-->
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>
	<connectionStrings>
		<add name="EasyTestConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=WebServicePrototypeEasyTest" />
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=WebServicePrototype" />
	</connectionStrings>
</configuration>
